@model IEnumerable<Tu_Nuevo_Trabajo2021.Models.OfertaLaboral>

@{
    ViewData["Title"] = "Mis Ofertas Publicadas";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary active">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>

<button type="button" class="btn btn-info" href="/Areas/Empresa/Views/Crear_Oferta_Nueva">Crear Oferta Laboral Nueva</button>

<br><br/>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PuestoOferta)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCancelacion)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Requisitos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TipoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoOferta)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PuestoOferta)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCancelacion)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TipoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoOferta)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOferta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdOferta">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOferta">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
