@model IEnumerable<Tu_Nuevo_Trabajo2021.Models.OfertaLaboral>
@{
    ViewData["Title"] = "Publicaciones";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary active">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/MisOfertas'">Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/Perfil'">Mi perfil</button>
</div>

<header>

    <div class="input-group w-50">
        <span class="input-group-text" id="basic-addon1">
            <img src="~/imagenes/search.svg" width="16" height="16">
        </span>
        <input type="text" class="form-control" placeholder="Trabajo a buscar" aria-label="Trabajo a buscar" aria-describedby="basic-addon1">
        &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
    </div>
    <br>
</header>

<body>
       
    <div class="form-row">    

            <table class="table table-striped ">
                <tbody>
                    @foreach (var item in Model){
                        <tr>
                            @*<td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PuestoOferta)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TipoContrato)
                                </td>*@
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.IdOferta">Editar</a> |*@
                                <a asp-action="Details" asp-route-id="@item.IdOferta">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                        <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                    </svg>
                                </a>
                                @*<a asp-action="Delete" asp-route-id="@item.IdOferta">Borrar</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>        
    </div>

</body>

<br>
