@model IEnumerable<Tu_Nuevo_Trabajo2021.Models.OfertaLaboral>
@{
    ViewData["Title"] = "Publicaciones";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary active">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/MisOfertas'">Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/Perfil'">Mi perfil</button>
</div>

<header>

    <div class="input-group w-50">
        <span class="input-group-text" id="basic-addon1">
            <img src="~/imagenes/search.svg" width="16" height="16">
        </span>
        <input type="text" class="form-control" placeholder="Trabajo a buscar" aria-label="Trabajo a buscar" aria-describedby="basic-addon1">
        &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
    </div>
    <br>
</header>

<body>
       
    <div class="form-row">    

            <table class="table table-striped ">
                <tbody>
                    @foreach (var item in Model){
                        <tr>
                            @*<td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PuestoOferta)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TipoContrato)
                                </td>*@
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.IdOferta">Editar</a> |*@
                                <a asp-action="Details" asp-route-id="@item.IdOferta">Ver Oferta</a>
                                @*<a asp-action="Delete" asp-route-id="@item.IdOferta">Borrar</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>        
    </div>

</body>

<br>
